<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<div>
  <div class="flex-container">
    <div class="cards" ng-repeat="card in cards track by $index" ng-click="cardOnClick(card, $index)">
      <div class="card" ng-class='[isFlipped[$index], isDisabled[$index]]'>
          <div class="front"></div>
          <div class="back"><img src="{{card}}" height="200" width="150"></div>
      </div>
    </div>
  </div>
  <button ng-Click="newGameOnClick()">Start A New Game</button>
</div>

